.App {
  text-align: center;
}
button{
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
.number-item{
  display: inline-block;
  margin: 10px 20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  padding: 12px 15px;
}
.number-item p{
  margin: 0;
  width: 15px;
  height: 19px;
}
